templates/components/Stringify.json
{
  "name": "Stringify",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Stringify",
        "formDescription": "Stringify a file into a raw text file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        64,
        160
      ],
      "id": "fbe41d9a-1a62-4664-b9f3-f1d8bf6f767e",
      "name": "Stringify",
      "webhookId": "020f6d18-df8b-41b9-9893-19a46294ff44"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const s = $input.item.json.File.filename.split(\".\");\n$input.item.json.extension = s[s.length - 1].toLowerCase();\n$input.item.json.tempPath = \"/documents/stringify/\" + $input.item.json.File.filename;\n$input.item.json.textPath = \"/documents/stringify/\" + $input.item.json.File.filename + \".txt\";\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        160
      ],
      "id": "ad84703f-5be1-4fe5-9ee0-2064de403e6a",
      "name": "ext3"
    },
    {
      "parameters": {
        "command": "=mkdir -p /documents/stringify"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        288,
        160
      ],
      "id": "ef6b502e-de35-4158-b6db-56c3bd0a8f64",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        160
      ],
      "id": "dfe8468e-df4b-4570-958d-13b467a19612",
      "name": "Wait1",
      "webhookId": "0f3358cd-f60e-4912-ab7a-8e515f7afd61"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://helm/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.tempPath }}"
            },
            {
              "name": "output",
              "value": "={{ $json.textPath }}"
            }
          ]
        },
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        160
      ],
      "id": "d795ef0b-9fa4-44fa-9e03-242d2ec919fc",
      "name": "helm1"
    },
    {
      "parameters": {
        "content": "# Stringify\nUpload a file and get text files into the /documents/stringify directory",
        "height": 256,
        "width": 768,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "d5701034-18c7-4ab1-8f4b-30047fb496f7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.tempPath }}",
        "dataPropertyName": "File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        512,
        160
      ],
      "id": "bd281074-5b58-4ae1-aebd-10e73a37ef30",
      "name": "readfs"
    }
  ],
  "pinData": {},
  "connections": {
    "Stringify": {
      "main": [
        [
          {
            "node": "ext3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ext3": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "readfs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readfs": {
      "main": [
        [
          {
            "node": "helm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd89749c-baa9-458b-b672-d497f580ecaf",
  "meta": {
    "instanceId": "4b07eb39ab76e508c1311bffcd2dabefcfa1bc354720a93de775e1ebaadf4763"
  },
  "id": "vpisqsiW218M2ztP",
  "tags": []
}